<section class="section">
    <nav class="navbar navbar-light bg-light">
        <section
        class="form-inline">
          <input 
          [(ngModel)]="animeName" 
         
          class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button 
          
          (click)="onBtnSubmit()"
          class="btn btn-outline-success my-2 my-sm-0 button" type="submit">Search</button>
        </section>
        <section>
          <button class="btn btn-outline-success my-2 my-sm-0 button" mat-button [matMenuTriggerFor]="menu">Most Searched Animes</button>
          <mat-menu #menu="matMenu">
            <a routerLink="naruto" mat-menu-item>Naruto</a>
            <a routerLink="one-piece" mat-menu-item>One Piece</a>
            <a routerLink="bleach"mat-menu-item>Bleach</a>
          </mat-menu>
        </section>
    </nav>
</section>
